In [1]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Import the matplotlib package under the name plt
import matplotlib.pyplot as plt
%matplotlib inline

# Import the seaborn package under the name sns
import seaborn as sns

# Print the pandas version and the configuration
print(pd.__version__)

1.3.4

In [3]:
#Load the data
df = pd.read_csv('Desktop/Python Project/coffee.csv')

In [8]:
df.shape

(5671, 7)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5671 entries, 0 to 5670
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      5671 non-null   object
 1   Open      5671 non-null   float64
 2   High      5671 non-null   float64
 3   Low       5671 non-null   float64
 4   Close     5671 non-null   float64
 5   Volume    5671 non-null   int64
 6   Currency  5671 non-null   object
dtypes: float64(4), int64(1), object(2)
memory usage: 310.3+ KB

In [5]:
df.head()

         Date    Open    High     Low   Close  Volume Currency
0  2000-01-03  122.25  124.00  116.10  116.50    6640      USD
1  2000-01-04  116.25  120.50  115.75  116.25    5492      USD
2  2000-01-05  115.00  121.00  115.00  118.60    6165      USD
3  2000-01-06  119.00  121.40  116.50  116.85    5094      USD
4  2000-01-07  117.25  117.75  113.80  114.15    6855      USD

In [6]:
df.describe()

              Open         High          Low        Close        Volume
count  5671.000000  5671.000000  5671.000000  5671.000000   5671.000000
mean    125.999004   127.555853   124.540275   125.944139   8742.679598
std      49.664030    50.234153    48.968859    49.593163   9594.479156
min      41.500000    42.000000    41.500000    41.500000      0.000000
25%      98.500000    99.675000    97.350000    98.325000     60.500000
50%     119.800000   121.050000   118.500000   119.800000   6936.000000
75%     142.975000   144.300000   141.150000   142.675000  14403.500000
max     305.300000   306.250000   304.000000   304.900000  62045.000000

In [9]:
len(df.Date.unique())

5671